[package]
name = "itp-top-pool-author"
version = "0.9.0"
authors = ["Integritee AG <hello@integritee.network>"]
edition = "2021"

[dependencies]
# sgx dependencies
sgx_tstd = { branch = "master", git = "https://github.com/apache/teaclave-sgx-sdk.git", optional = true }
sgx_types = { branch = "master", git = "https://github.com/apache/teaclave-sgx-sdk.git" }

# local dependencies
ita-stf = { path = "../../app-libs/stf", default-features = false }
itp-enclave-metrics = { path = "../enclave-metrics", default-features = false }
itp-ocall-api = { path = "../ocall-api", default-features = false }
itp-sgx-crypto = { path = "../sgx/crypto", default-features = false }
itp-stf-primitives = { path = "../stf-primitives", default-features = false }
itp-stf-state-handler = { path = "../stf-state-handler", default-features = false }
itp-test = { path = "../test", default-features = false, optional = true }
itp-top-pool = { path = "../top-pool", default-features = false }
itp-types = { path = "../types", default-features = false }
itp-utils = { path = "../utils", default-features = false }

# sgx enabled external libraries
jsonrpc-core_sgx = { package = "jsonrpc-core", git = "https://github.com/scs/jsonrpc", branch = "no_std_v18", default-features = false, optional = true }
thiserror_sgx = { package = "thiserror", git = "https://github.com/mesalock-linux/thiserror-sgx", tag = "sgx_1.1.3", optional = true }

# std compatible external libraries (make sure these versions match with the sgx-enabled ones above)
jsonrpc-core = { version = "18", optional = true }
thiserror = { version = "1.0", optional = true }

# no-std compatible libraries
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
derive_more = { version = "0.99.5" }
log = { version = "0.4", default-features = false }
sp-core = { default-features = false, features = ["full_crypto"], git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.42" }
sp-runtime = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.42" }

[dev-dependencies]
futures = { version = "0.3" }
itp-sgx-crypto = { path = "../sgx/crypto", features = ["mocks"] }
itp-test = { path = "../test" }
itp-top-pool = { path = "../top-pool", features = ["mocks"] }
sgx-crypto-helper = { branch = "master", git = "https://github.com/apache/teaclave-sgx-sdk.git", package = "sgx_crypto_helper", default-features = false }
sp-keyring = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.42" }

[features]
default = ["std"]
std = [
    "ita-stf/std",
    "itp-sgx-crypto/std",
    "itp-enclave-metrics/std",
    "itp-ocall-api/std",
    "itp-stf-state-handler/std",
    "itp-top-pool/std",
    "itp-types/std",
    "itp-utils/std",
    "jsonrpc-core",
    "log/std",
    "thiserror",
]
sgx = [
    "sgx_tstd",
    "jsonrpc-core_sgx",
    "ita-stf/sgx",
    "itp-enclave-metrics/sgx",
    "itp-sgx-crypto/sgx",
    "itp-stf-state-handler/sgx",
    "itp-top-pool/sgx",
    "itp-utils/sgx",
    "thiserror_sgx",
]
test = ["itp-test/sgx", "itp-top-pool/mocks"]
mocks = []
sidechain = []
offchain-worker = []
teeracle = []
