[package]
name = "itp-stf-executor"
version = "0.8.0"
authors = ["Integritee AG <hello@integritee.network>"]
edition = "2018"
resolver = "2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["std"]
std = [
    "ita-stf/std",
    "itp-ocall-api/std",
    "itp-stf-state-handler/std",
    "itp-storage/std",
    "itp-storage-verifier/std",
    "sgx-externalities/std",
    "sp-runtime/std",
    "thiserror",
]
sgx = [
    "sgx_tstd",
    "ita-stf/sgx",
    "itp-stf-state-handler/sgx",
    "itp-storage/sgx",
    "sgx-externalities/sgx",
    "thiserror_sgx",
]
test = []

[dependencies]
# sgx dependencies
sgx_types = { rev = "v1.1.3", git = "https://github.com/apache/teaclave-sgx-sdk.git" }
sgx_tstd = { rev = "v1.1.3", git = "https://github.com/apache/teaclave-sgx-sdk.git", optional = true, features = ["untrusted_time"] }
sgx-externalities = { version = "0.4.0", default-features = false, git = "https://github.com/integritee-network/sgx-runtime", branch = "feature/fm-externalities-deterministic-serialization", optional = true }

# local dependencies
ita-stf = { path = "../../app-libs/stf", default-features = false }
itp-ocall-api = { path = "../ocall-api", default-features = false }
itp-stf-state-handler = { path = "../stf-state-handler", default-features = false }
itp-storage = { path = "../storage", default-features = false }
itp-storage-verifier = { path = "../storage-verified", default-features = false }
itp-types = { path = "../types", default-features = false }

# sgx enabled external libraries
thiserror_sgx = { package = "thiserror", git = "https://github.com/mesalock-linux/thiserror-sgx", tag = "sgx_1.1.3", optional = true }

# std compatible external libraries (make sure these versions match with the sgx-enabled ones above)
thiserror = { version = "1.0", optional = true }

# no-std dependencies
log = { version = "0.4", default-features = false }
codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false, features = ["derive"] }
sp-runtime = { version = "4.0.0-dev", default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "master"}
