[package]
name = "itp-stf-executor"
version = "0.9.0"
authors = ["Integritee AG <hello@integritee.network>"]
edition = "2021"

[dependencies]
# sgx dependencies
sgx-crypto-helper = { branch = "master", git = "https://github.com/apache/teaclave-sgx-sdk.git", package = "sgx_crypto_helper", default-features = false, optional = true }
sgx_tstd = { branch = "master", git = "https://github.com/apache/teaclave-sgx-sdk.git", optional = true, features = ["untrusted_time"] }
sgx_types = { branch = "master", git = "https://github.com/apache/teaclave-sgx-sdk.git" }

# local dependencies
ita-stf = { path = "../../app-libs/stf", default-features = false }
itp-node-api = { path = "../node-api", default-features = false }
itp-ocall-api = { path = "../ocall-api", default-features = false }
itp-sgx-crypto = { path = "../sgx/crypto", default-features = false }
itp-sgx-externalities = { default-features = false, path = "../substrate-sgx/externalities" }
itp-stf-interface = { path = "../stf-interface", default-features = false }
itp-stf-primitives = { path = "../stf-primitives", default-features = false }
itp-stf-state-handler = { path = "../stf-state-handler", default-features = false }
itp-stf-state-observer = { path = "../stf-state-observer", default-features = false }
itp-storage = { path = "../storage", default-features = false }
itp-time-utils = { path = "../time-utils", default-features = false }
itp-top-pool-author = { path = "../top-pool-author", default-features = false }
itp-types = { path = "../types", default-features = false }

# sgx enabled external libraries
thiserror_sgx = { optional = true, package = "thiserror", git = "https://github.com/mesalock-linux/thiserror-sgx", tag = "sgx_1.1.3" }

# std compatible external libraries (make sure these versions match with the sgx-enabled ones above)
thiserror = { version = "1.0", optional = true }

# no-std dependencies
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }
log = { version = "0.4", default-features = false }

# substrate dependencies
sp-core = { default-features = false, features = ["full_crypto"], git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.42" }
sp-runtime = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.42" }

# dev dependencies
itc-parentchain-test = { path = "../../core/parentchain/test", optional = true, default-features = false }
itp-test = { path = "../test", default-features = false, optional = true }

[dev-dependencies]
itp-stf-state-observer = { path = "../stf-state-observer", features = ["mocks"] }
itp-stf-interface = { path = "../stf-interface", features = ["mocks"] }

[features]
default = ["std"]
std = [
    # local
    "ita-stf/std",
    "itp-node-api/std",
    "itp-ocall-api/std",
    "itp-sgx-crypto/std",
    "itp-sgx-externalities/std",
    "itp-stf-interface/std",
    "itp-stf-state-handler/std",
    "itp-stf-state-observer/std",
    "itp-top-pool-author/std",
    "itp-storage/std",
    "itp-types/std",
    "itp-time-utils/std",
    # crates.io
    "log/std",
    "codec/std",
    # substrate
    "sp-core/std",
    "sp-runtime/std",
    "thiserror",
]
sgx = [
    "sgx_tstd",
    "ita-stf/sgx",
    "itp-node-api/sgx",
    "itp-sgx-crypto/sgx",
    "itp-sgx-externalities/sgx",
    "itp-stf-state-handler/sgx",
    "itp-stf-state-observer/sgx",
    "itp-top-pool-author/sgx",
    "itp-storage/sgx",
    "itp-time-utils/sgx",
    "thiserror_sgx",
]
test = [
    "itc-parentchain-test",
    "itp-node-api/mocks",
    "itp-test",
    "sgx-crypto-helper",
]
mocks = []
