[package]
name = "itp-stf-executor"
version = "0.8.0"
authors = ["Integritee AG <hello@integritee.network>"]
edition = "2018"
resolver = "2"

[dependencies]
# sgx dependencies
sgx_types = { branch = "master", git = "https://github.com/apache/teaclave-sgx-sdk.git" }
sgx_tstd = { branch = "master", git = "https://github.com/apache/teaclave-sgx-sdk.git", optional = true, features = ["untrusted_time"] }
sgx-crypto-helper = { branch = "master", git = "https://github.com/apache/teaclave-sgx-sdk.git", package = "sgx_crypto_helper", default-features = false, optional = true }

# integritee dependencies
sgx-externalities = { default-features = false, git = "https://github.com/integritee-network/sgx-runtime", branch = "master", optional = true }

# local dependencies
ita-stf = { path = "../../app-libs/stf", default-features = false }
itp-ocall-api = { path = "../ocall-api", default-features = false }
itp-sgx-crypto = { path = "../sgx/crypto", default-features = false }
itp-stf-state-handler = { path = "../stf-state-handler", default-features = false }
itp-storage = { path = "../storage", default-features = false }
itp-time-utils = { path = "../time-utils", default-features = false }
itp-types = { path = "../types", default-features = false }

# sgx enabled external libraries
thiserror_sgx = { package = "thiserror", git = "https://github.com/mesalock-linux/thiserror-sgx", tag = "sgx_1.1.3", optional = true }

# std compatible external libraries (make sure these versions match with the sgx-enabled ones above)
thiserror = { version = "1.0", optional = true }

# no-std dependencies
log = { version = "0.4", default-features = false }
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive"] }

# substrate dependencies
sp-core = { version = "6.0.0", default-features = false, features = ["full_crypto"], git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.20" }
sp-runtime = { version = "6.0.0", default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.20"}

# dev dependencies
itp-test = { path = "../test", default-features = false, optional = true }

[features]
default = ["std"]
std = [
    # integritee
    "sgx-externalities/std",
    # local
    "ita-stf/std",
    "itp-ocall-api/std",
    "itp-sgx-crypto/std",
    "itp-stf-state-handler/std",
    "itp-storage/std",
    "itp-types/std",
    "itp-time-utils/std",
    # crates.io
    "log/std",
    "codec/std",
    # substrate
    "sp-core/std",
    "sp-runtime/std",
    "thiserror",
]
sgx = [
    "sgx_tstd",
    "ita-stf/sgx",
    "itp-sgx-crypto/sgx",
    "itp-stf-state-handler/sgx",
    "itp-storage/sgx",
    "itp-time-utils/sgx",
    "sgx-externalities/sgx",
    "thiserror_sgx",
]
test = [
    "itp-test",
    "sgx-crypto-helper",
]
mocks = []
