[workspace]
members = [
	 "worker",
	 "worker/worker-api",
	 "substratee-node-calls",
	 "client",
	 "stf",
	 "substrate-sgx/externalities",
	 "substrate-sgx/sr-io",
	 "substrate-sgx/runtime"
#	 "enclave",
]
