[workspace]
resolver = "2"
members = [
    "app-libs/exchange-oracle",
    "app-libs/stf",
    "cli",
    "core/direct-rpc-server",
    "core/light-client",
    "core/rest-client",
    "core/rpc-client",
    "core/rpc-server",
    "core/tls-websocket-server",
    "core-primitives/api-client-extensions",
    "core-primitives/enclave-api",
    "core-primitives/enclave-api/ffi",
    "core-primitives/extrinsics-factory",
    "core-primitives/nonce-cache",
    "core-primitives/ocall-api",
    "core-primitives/settings",
    "core-primitives/sgx/crypto",
    "core-primitives/sgx/io",
    "core-primitives/stf-executor",
    "core-primitives/stf-state-handler",
    "core-primitives/storage",
    "core-primitives/storage-verified",
    "core-primitives/teerex-storage",
    "core-primitives/test",
    "core-primitives/types",
    "service",
    "sidechain/consensus/aura",
    "sidechain/consensus/common",
    "sidechain/consensus/slots",
    "sidechain/primitives",
    "sidechain/rpc-handler",
    "sidechain/sidechain-crate",
    "sidechain/state",
    "sidechain/top-pool",
    "sidechain/top-pool-rpc-author",
    "sidechain/validateer-fetch",
]

#[patch."https://github.com/integritee-network/integritee-node"]
#my-node-runtime = { path = "../integritee-node/runtime", package = "integritee-node-runtime"}

#[patch."https://github.com/integritee-network/pallets.git"]
#pallet-teerex = { path = "../pallets/teerex" }

#[patch."https://github.com/scs/substrate-api-client"]
#substrate-api-client = { path = "../substrate-api-client" }
#substrate-client-keystore = { path = "../substrate-api-client/client-keystore" }

#[patch."https://github.com/integritee-network/sgx-runtime"]
#sgx-runtime = { path = "../sgx-runtime/runtime", default-features = false}
#sp-io = { path = "../sgx-runtime/substrate-sgx/sp-io", default-features = false, features = ["disable_oom", "disable_panic_handler", "disable_allocator", "sgx"]}
#sgx-externalities = { path = "../sgx-runtime/substrate-sgx/externalities" }
