[workspace]
members = [
	 "worker",
	 "worker/worker-api",
	 "substratee-node-primitives",
	 "substratee-worker-primitives",
	 "client",
	 "stf",
#	 "enclave",
]

#[patch."https://github.com/scs/pallet-substratee-registry.git"]
#pallet-substratee-registry = { path = "../pallet-substratee-registry" }

[patch."https://github.com/scs/sgx-runtime"]
sgx-runtime = { path = "../sgx-runtime/runtime" }
sp-io = { path = "../sgx-runtime/substrate-sgx/sp-io"}
sgx-externalities = { path = "../sgx-runtime/substrate-sgx/externalities"}