[workspace]
resolver = "2"
members = [
    "client",
    "primitives/api-client-extensions",
    "primitives/enclave-api",
    "primitives/enclave-api/ffi",
    "primitives/node",
    "primitives/ocall-api",
    "primitives/get-storage-verified",
    "primitives/pallet-teerex-storage",
    "primitives/settings",
    "primitives/sidechain",
    "primitives/sidechain/traits",
    "primitives/storage",
    "primitives/test-utils",
    "primitives/worker",
    "stf",
    "worker",
    "worker/rpc/client",
    "worker/rpc/server",
    #	 "enclave",
]

#[patch."https://github.com/scs/pallet-substratee-registry.git"]
#pallet-substratee-registry = { path = "../pallet-substratee-registry" }


#[patch."https://github.com/scs/substrate-api-client"]
#substrate-api-client = { path = "../substrate-api-client" }
#substrate-client-keystore = { path = "../substrate-api-client/client-keystore" }