[workspace]
resolver = "2"
members = [
    "app-libs/stf",
    "cli",
    "core/direct-rpc-server",
    "core/light-client",
    "core/rest-client",
    "core/rpc-client",
    "core/rpc-server",
    "core/tls-websocket-server",
    "core-primitives/api-client-extensions",
    "core-primitives/enclave-api",
    "core-primitives/enclave-api/ffi",
    "core-primitives/extrinsics-factory",
    "core-primitives/nonce-cache",
    "core-primitives/ocall-api",
    "core-primitives/settings",
    "core-primitives/sgx/crypto",
    "core-primitives/sgx/io",
    "core-primitives/stf-executor",
    "core-primitives/stf-state-handler",
    "core-primitives/storage",
    "core-primitives/storage-verified",
    "core-primitives/teerex-storage",
    "core-primitives/test",
    "core-primitives/types",
    "service",
    "sidechain/consensus/aura",
    "sidechain/consensus/common",
    "sidechain/consensus/slots",
    "sidechain/primitives",
    "sidechain/rpc-handler",
    "sidechain/sidechain-crate",
    "sidechain/state",
    "sidechain/top-pool",
    "sidechain/top-pool-rpc-author",
    "sidechain/validateer-fetch",
]

#[patch."https://github.com/scs/substrate-api-client"]
#substrate-api-client = { path = "../substrate-api-client" }
#substrate-client-keystore = { path = "../substrate-api-client/client-keystore" }

#[patch."https://github.com/integritee-network/sgx-runtime"]
#sgx-runtime = { path = "../sgx-runtime/runtime", default-features = false}
#sp-io = { path = "../sgx-runtime/substrate-sgx/sp-io", default-features = false, features = ["disable_oom", "disable_panic_handler", "disable_allocator", "sgx"]}
#sgx-externalities = { path = "../sgx-runtime/substrate-sgx/externalities" }

[patch."https://github.com/apache/teaclave-sgx-sdk.git"]
sgx_tstd = { version = "1.1.4", path = "../../incubator-teaclave-sgx-sdk/sgx_tstd" }
sgx_alloc = { version = "1.1.4", path = "../../incubator-teaclave-sgx-sdk/sgx_alloc" }
sgx_libc = { version = "1.1.4", path = "../../incubator-teaclave-sgx-sdk/sgx_libc" }
sgx_serialize = { version = "1.1.4", path = "../../incubator-teaclave-sgx-sdk/sgx_serialize" }
sgx_serialize_derive = { version = "1.1.4", path = "../../incubator-teaclave-sgx-sdk/sgx_serialize_derive" }
sgx_serialize_derive_internals = { version = "1.1.4", path = "../../incubator-teaclave-sgx-sdk/sgx_serialize_derive_internals" }
sgx_trts = { version = "1.1.4", path = "../../incubator-teaclave-sgx-sdk/sgx_trts" }
sgx_types = { version = "1.1.4", path = "../../incubator-teaclave-sgx-sdk/sgx_types" }
sgx_ucrypto = { version = "1.1.4", path = "../../incubator-teaclave-sgx-sdk/sgx_ucrypto" }
sgx_tcrypto = { version = "1.1.4", path = "../../incubator-teaclave-sgx-sdk/sgx_tcrypto" }
sgx_tcrypto_helper = { version = "1.1.4", path = "../../incubator-teaclave-sgx-sdk/sgx_tcrypto_helper" }
sgx_crypto_helper = { version = "1.1.4", path = "../../incubator-teaclave-sgx-sdk/sgx_crypto_helper" }
