[package]
name = "ita-stf"
version = "0.8.0"
authors = ["Integritee AG <hello@integritee.network>"]
edition = "2018"

[dependencies]
# crates.io
codec = { version = "3.0.0", default-features = false, features = ["derive"], package = "parity-scale-codec" }
derive_more = { version = "0.99.5" }
log = { version = "0.4", default-features = false }

# sgx deps
sgx_tstd = { branch = "master", features = ["untrusted_fs","net","backtrace"], git = "https://github.com/apache/teaclave-sgx-sdk.git", optional = true }

# local crates
itp-settings = { path = "../../core-primitives/settings" }
itp-storage = { default-features = false, path = "../../core-primitives/storage" }
itp-types = {  default-features = false, path = "../../core-primitives/types" }
itp-utils = { default-features = false, path = "../../core-primitives/utils" }
its-primitives = { default-features = false, path = "../../sidechain/primitives" }
its-state = { default-features = false, optional = true, path = "../../sidechain/state" }

# Substrate dependencies
sp-core = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.20", features = ["full_crypto"] }
balances = { package = 'pallet-balances', default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.20" }
system = { package = "frame-system", default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.20" }
support = { package = "frame-support", default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.20" }
sp-application-crypto = { default-features = false, features = ["full_crypto"], git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.20" }
sp-runtime = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.20" }
sc-keystore = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.20", optional = true }

# scs / integritee
my-node-runtime = { package = "ajuna-solo-runtime", git = "https://github.com/ajuna-network/Ajuna", rev = "polkadot-v0.9.20-dev", optional = true }
sgx-externalities = { default-features = false, git = "https://github.com/ajuna-network/sgx-runtime", rev = "polkadot-v0.9.20-dev" }
sgx-runtime = { default-features = false, git = "https://github.com/ajuna-network/sgx-runtime", rev = "polkadot-v0.9.20-dev", optional = true }
sp-io = { default-features = false, git = "https://github.com/ajuna-network/sgx-runtime", rev = "polkadot-v0.9.20-dev", features = ["disable_oom", "disable_panic_handler", "disable_allocator"], optional = true }
substrate-api-client = { git = "https://github.com/scs/substrate-api-client", branch = "polkadot-v0.9.20-asset", optional = true }
substrate-client-keystore = { git = "https://github.com/scs/substrate-api-client", branch = "polkadot-v0.9.20-asset", optional = true }
pallet-ajuna-board = { default-features = false, git = "https://github.com/ajuna-network/Ajuna", rev = "polkadot-v0.9.20-dev" }

[dev-dependencies]
sp-keyring = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.20" }


[features]
default = ["std"]
sgx = [
    "sgx_tstd",
    "its-state/sgx",
    "itp-utils/sgx",
    "sp-io/sgx",
    "sgx-externalities/sgx",
    "sgx-runtime",
]
std = [
    # crates.io
    "codec/std",
    "log/std",
    # local
    "itp-storage/std",
    "itp-types/std",
    "itp-utils/std",
    "its-primitives/std",
    "its-state/std",
    # substrate
    "sp-core/std",
    "balances/std",
    "system/std",
    "support/std",
    "sp-application-crypto/std",
    "sp-runtime/std",
    "sc-keystore",
    # scs/integritee
    "my-node-runtime",
    "sgx-externalities/std",
    "sp-io/std",
    "substrate-api-client",
    "substrate-client-keystore",
    "pallet-ajuna-board/std",
]
test = []
