[package]
name = "integritee-service"
version = "0.8.0"
authors = ["Integritee AG <hello@integritee.network>"]
build = "build.rs"
edition = "2018"

[dependencies]
ws = "0.9.1"
hex = "0.4.3"
log = "0.4"
env_logger = "0.7"
base58 = "0.1"
rust-crypto = "0.2"
clap = { version = "2.33", features = ["yaml"] }
lazy_static = "1.4.0"
parking_lot = "0.11.1"
thiserror = "1.0"
dashmap = "4.0.2"
dirs = "1.0.2"
serde = "1.0"
serde_json = "1.0"
serde_derive = "1.0"
jsonrpsee = { version = "0.2.0", features = ["client", "ws-server", "macros"] }
async-trait = "0.1.50"
tokio = { version = "1.6.1", features = ["full"] }

# ipfs
ipfs-api = "0.11.0"
futures = "0.3"
multihash = "0.8"
cid = "<0.3.1"
sha2 = { version = "0.7", default-features = false }

codec = { package = "parity-scale-codec", version = "2.0.0", default-features = false, features = ["derive"] }
primitive-types = { version = "0.10.1", default-features = false, features = ["codec"] }

sgx_urts = { branch = "master", git = "https://github.com/apache/teaclave-sgx-sdk.git" }
sgx_types = { branch = "master", git = "https://github.com/apache/teaclave-sgx-sdk.git" }
sgx_crypto_helper = { branch = "master", git = "https://github.com/apache/teaclave-sgx-sdk.git" }

# local
ita-stf = { path = "../app-libs/stf" }
itc-rpc-client = { path = "../core/rpc-client" }
itc-rpc-server = { path = "../core/rpc-server" }
itp-node-api-extensions = { path = "../core-primitives/node-api-extensions" }
itp-enclave-api = { path = "../core-primitives/enclave-api" }
itp-settings = { path = "../core-primitives/settings" }
itp-test = { path = "../core-primitives/test" }
itp-types = { path = "../core-primitives/types" }
its-consensus-slots = { path = "../sidechain/consensus/slots" }
its-peer-fetch = { path = "../sidechain/peer-fetch" }
its-primitives = { path = "../sidechain/primitives"}
its-storage = { path = "../sidechain/storage" }

# scs / integritee
substrate-api-client = { git = "https://github.com/scs/substrate-api-client", branch = "master" }
my-node-runtime = { package = "ajuna-runtime", git = "https://github.com/ajuna-network/ajuna-node.git", branch = "update-substrate-5" }
teerex-primitives = { git = "https://github.com/integritee-network/pallets.git", branch = "master" }

# Substrate dependencies
sp-runtime = { version = "5.0.0", git = "https://github.com/paritytech/substrate.git", branch = "master" }
pallet-balances = { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master" }
sp-core = { version = "5.0.0", git = "https://github.com/paritytech/substrate.git", branch = "master" }
sp-keyring = { version = "5.0.0", git = "https://github.com/paritytech/substrate.git", branch = "master" }
frame-system = { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master" }
sp-finality-grandpa = { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master" }
frame-support = { version = "4.0.0-dev", git = "https://github.com/paritytech/substrate.git", branch = "master" }


[features]
default = []
production = ['itp-settings/production']

[dev-dependencies]
# crates.io
anyhow = "1.0.40"
mockall = "0.10.1"
# local
its-peer-fetch = { path = "../sidechain/peer-fetch", features = ["mocks"] }
its-test = { path = "../sidechain/test" }
