[package]
name = "integritee-cli"
version = "0.8.0"
authors = ["Integritee AG <hello@integritee.network>"]
edition = "2018"

[dependencies]
log = "0.4"
env_logger = "0.9"
hex = "0.4.2"
serde_json = "1.0"
clap = { version = "3.1.6", features = ["derive"]}
primitive-types = { version = "0.11.1", features = ["codec"] }
base58 = "0.2"
chrono = "*"
blake2-rfc = { version = "0.2.18" }
ws = { version = "0.9.1", features = ["ssl"] }
serde = { version = "1.0", features = ["derive"] }
codec = { version = "3.0.0", package = "parity-scale-codec", features = ["derive"] }
sgx_crypto_helper = { branch = "master", git = "https://github.com/apache/teaclave-sgx-sdk.git" }
rayon = "1.5.1"
hdrhistogram = "7.5.0"
rand = "0.8.5"

# scs / integritee
itp-types = { git = "https://github.com/integritee-network/pallets.git", branch = "tn/polkadot-v0.9.27" }
itp-utils = { git = "https://github.com/integritee-network/pallets.git", branch = "tn/polkadot-v0.9.27" }
my-node-runtime = { package = "integritee-node-runtime", git = "https://github.com/integritee-network/integritee-node.git", branch = "tn/polkadot-v0.9.27" }
pallet-evm = { optional = true, git = "https://github.com/integritee-network/frontier.git", branch = "polkadot-v0.9.27" }
substrate-api-client = { features = ["ws-client"], git = "https://github.com/scs/substrate-api-client.git", branch = "tn/polkadot-v0.9.27" }
substrate-client-keystore = { git = "https://github.com/scs/substrate-api-client.git", branch = "tn/polkadot-v0.9.27" }
teerex-primitives = { git = "https://github.com/integritee-network/pallets.git", branch = "tn/polkadot-v0.9.27" }

# substrate dependencies
sp-runtime = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.27" }
sc-keystore = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.27" }
pallet-balances = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.27" }
frame-system = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.27" }
sp-keyring = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.27" }
sp-application-crypto = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.27" }
sp-core = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.27" }

# local dependencies
itp-node-api = { path = "../core-primitives/node-api" }
itp-rpc = { path = "../core-primitives/rpc" }
itp-sgx-crypto = { path = "../core-primitives/sgx/crypto" }
ita-stf = { path = "../app-libs/stf" }
itc-rpc-client = { path = "../core/rpc-client" }
itp-time-utils = { path = "../core-primitives/time-utils" }

[features]
default = []
evm = [
    "ita-stf/evm_std",
    "pallet-evm"
]