[package]
name = "substratee-stf"
version = "0.6.9-sub2.0.0-alpha.7"
authors = ["Supercomputing Systems AG <info@scs.ch>"]
edition = "2018"

[features]
default = ["std"]
sgx = [
    "sgx_tstd",
    "env_logger",
    "log-sgx",
    "sp-io",
    "sgx-runtime",
    "derive_more",
]
std = [
    "clap",
    "clap-nested",
    "log",
    "base58",
    "sc-keystore",
    "system/std",
    "metadata/std",
    "sp-core/std",
    "encointer-ceremonies/std",
    "hex",
    "substrate-api-client",
    "my-node-runtime"
]

[dependencies]
log-sgx             = { version = "0.4", package = "log", git = "https://github.com/mesalock-linux/log-sgx", optional = true }
env_logger          = { version = "0.7", git = "https://github.com/mesalock-linux/env_logger-sgx", optional = true }
clap                = { version = "2.33", optional = true }
clap-nested         = { version = "0.3.1", optional = true }
log                 = { version = "0.4", optional = true }
base58 			    = { version = "0.1", optional = true }
derive_more         = { version = "0.99.5", optional = true }
hex                 = { version = "*", optional = true }

[dependencies.sgx_tstd]
git = "https://github.com/apache/teaclave-sgx-sdk.git"
features = ["untrusted_fs","net","backtrace"]
rev = "v1.1.2"
optional = true

[dependencies.codec]
default-features = false
package = "parity-scale-codec"
version = "1.0.0"
features = ["derive"]

[dependencies.encointer-scheduler]
default-features = false
git = "https://github.com/encointer/pallets"
tag = "v0.3.2"
package = "pallet-encointer-scheduler"

[dependencies.encointer-ceremonies]
default-features = false
git = "https://github.com/encointer/pallets"
tag = "v0.3.2"
package = "pallet-encointer-ceremonies"

[dependencies.encointer-currencies]
default-features = false
git = "https://github.com/encointer/pallets"
tag = "v0.3.2"
package = "pallet-encointer-currencies"

[dependencies.encointer-balances]
default-features = false
git = "https://github.com/encointer/pallets"
tag = "v0.3.2"
package = "pallet-encointer-balances"

[dependencies.fixed]
default-features = false
git = "https://github.com/encointer/substrate-fixed"
tag = "v0.5.4+sub_v0.1"
package = "substrate-fixed"

[dependencies.my-node-runtime]
git = "https://github.com/encointer/encointer-node"
branch = "sgx-master"
package = "encointer-node-teeproxy-runtime"
optional = true

[dependencies.system]
default-features = false
package = 'frame-system'
version = '2.0.0-alpha.7'

[dependencies.metadata]
version = '11.0.0-alpha.6'
package = "frame-metadata"
default-features=false

[dependencies.sp-core]
version = '2.0.0-alpha.7'
default-features = false
features = ["full_crypto"]

[dependencies.sp-application-crypto]
version = '2.0.0-alpha.7'
default-features = false
features = ["full_crypto"]

[dependencies.sp-runtime]
version = '2.0.0-alpha.7'
default-features = false

[dependencies.sp-io]
version = '2.0.0-alpha.7'
default-features = false
optional = true
git = "https://github.com/encointer/sgx-runtime"
features = ["disable_oom", "disable_panic_handler", "disable_allocator", "sgx"]

[dependencies.sgx-runtime]
default-features = false
git = "https://github.com/encointer/sgx-runtime"
#tag = "v2.0.0-alpha.6"
optional = true

[dependencies.substrate-api-client]
git = "https://github.com/scs/substrate-api-client"
tag = "v0.4.6-sub2.0.0-alpha.7"
optional = true

[dependencies.sc-keystore]
version = '2.0.0-alpha.7'
optional = true

[dev-dependencies.sp-keyring]
version = '2.0.0-alpha.7'
