[package]
name = "substratee-stf"
version = "0.1.0"
authors = ["Supercomputing Systems AG <info@scs.ch>"]
edition = "2018"

[features]
default = []
sgx = [
    "sgx_tstd",
    "env_logger",
    "log",
    "sr-io",
    "sgx-runtime"
]

[dependencies]
log               = { tag = "sgx_1.1.0", git = "https://github.com/mesalock-linux/log-sgx", optional = true }
env_logger        = { tag = "sgx_1.1.0", git = "https://github.com/mesalock-linux/env_logger-sgx", optional = true }

[dependencies.sgx_tstd]
git = "https://github.com/apache/teaclave-sgx-sdk.git"
features = ["untrusted_fs","net","backtrace"]
rev = "v1.1.0"
optional = true

[dependencies.codec]
default-features = false
package = "parity-scale-codec"
version = "1.0.0"
features = ["derive"]

[dependencies.primitives]
default-features = false
git = "https://github.com/paritytech/substrate"
package = "substrate-primitives"
rev = "3bf9540e72df5ecb3955845764dfee7dcdbb26b5"
features = ["full_crypto"]

[dependencies.application-crypto]
default-features = false
git = "https://github.com/paritytech/substrate"
rev = "3bf9540e72df5ecb3955845764dfee7dcdbb26b5"
package = "substrate-application-crypto"
features = ["full_crypto"]

[dependencies.runtime_primitives]
default-features = false
git = "https://github.com/paritytech/substrate"
package = "sr-primitives"
rev = "3bf9540e72df5ecb3955845764dfee7dcdbb26b5"

# timestamp pulls in blake2-rfc with std
#[dependencies.timestamp]
#default-features = false
#git = "https://github.com/paritytech/substrate"
#package = "pallet-timestamp"
#rev = "3bf9540e72df5ecb3955845764dfee7dcdbb26b5"

[dependencies.indices]
default-features = false
git = "https://github.com/paritytech/substrate"
package = "pallet-indices"
rev = "3bf9540e72df5ecb3955845764dfee7dcdbb26b5"

[dependencies.sr-io]
default-features = false
optional = true
path = "../substrate-sgx/sr-io"
package = "sr-io"
features = ["disable_oom", "disable_panic_handler", "disable_allocator", "sgx"]

[dependencies.sgx-runtime]
optional = true
package = "sgx-runtime"
path = "../substrate-sgx/runtime"
