[package]
name = "its-validateer-fetch"
version = "0.9.0"
authors = ["Integritee AG <hello@integritee.network>"]
edition = "2021"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = ["derive", "chain-error"] }
derive_more = "0.99.16"
thiserror = "1.0.26"

# substrate deps
frame-support = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.42" }
sp-core = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.42" }
sp-runtime = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.42" }
sp-std = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.42" }

# local deps
itp-ocall-api = { path = "../../core-primitives/ocall-api", default-features = false }
itp-storage = { path = "../../core-primitives/storage", default-features = false }
itp-teerex-storage = { path = "../../core-primitives/teerex-storage", default-features = false }
itp-types = { path = "../../core-primitives/types", default-features = false }

[features]
default = ["std"]
std = [
    "codec/std",
    "sp-core/std",
    "sp-runtime/std",
    "sp-std/std",
    "itp-types/std",
    "itp-storage/std",
    "itp-ocall-api/std",
]

[dev-dependencies]
itp-test = { path = "../../core-primitives/test" }
itc-parentchain-test = { path = "../../core/parentchain/test" }
