[package]
name = "its-consensus-common"
version = "0.8.0"
authors = ["Integritee AG <hello@integritee.network>"]
edition = "2018"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false }
log = { version = "0.4", default-features = false }
thiserror = { version = "1.0.26", optional = true }

# local deps
itp-block-import-queue = { path = "../../../core-primitives/block-import-queue", default-features = false }
itp-ocall-api = { path = "../../../core-primitives/ocall-api", default-features = false }
itp-sgx-crypto = { path = "../../../core-primitives/sgx/crypto", default-features = false }
its-state = { path = "../../state", default-features = false }

# sgx deps
sgx_tstd = { branch = "master", git = "https://github.com/apache/teaclave-sgx-sdk.git", optional = true }
sgx_types = { branch = "master", git = "https://github.com/apache/teaclave-sgx-sdk.git" }
thiserror-sgx = { package = "thiserror", git = "https://github.com/mesalock-linux/thiserror-sgx", tag = "sgx_1.1.3", optional = true }

# substrate deps
sp-runtime = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.26" }

# scs / integritee
itp-types = { default-features = false, git = "https://github.com/integritee-network/pallets.git", branch = "master" }
sidechain-block-verification = { default-features = false, git = "https://github.com/integritee-network/pallets.git", branch = "master", optional = true }
sidechain-primitives = { default-features = false, git = "https://github.com/integritee-network/pallets.git", branch = "master" }

[dev-dependencies]
# local
itp-test = { path = "../../../core-primitives/test" }
its-consensus-aura = { path = "../aura" }
parentchain-test = { git = "https://github.com/integritee-network/pallets.git", branch = "master" }
sidechain-test = { git = "https://github.com/integritee-network/pallets.git", branch = "master" }
# substrate
sp-core = { default-features = false, features = ["full_crypto"], git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.26" }
sp-keyring = { git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.26" }
# integritee / scs
sgx-externalities = { git = "https://github.com/integritee-network/sgx-runtime", branch = "master" }

[features]
default = ["std"]
std = [
    "codec/std",
    "log/std",
    "thiserror",
    # local
    "itp-block-import-queue/std",
    "itp-ocall-api/std",
    "itp-sgx-crypto/std",
    "its-state/std",
    # substrate
    "sp-runtime/std",
    # scs
    "itp-types/std",
    "sidechain-block-verification/std",
    "sidechain-primitives/std",
]
sgx = [
    "sgx_tstd",
    "thiserror-sgx",
    # local
    "itp-block-import-queue/sgx",
    "itp-sgx-crypto/sgx",
    "its-state/sgx",
    # scs
    "sidechain-block-verification/sgx",
]
