[package]
name = "its-consensus-common"
version = "0.9.0"
authors = ["Integritee AG <hello@integritee.network>"]
edition = "2021"

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false }
log = { version = "0.4", default-features = false }
thiserror = { version = "1.0.26", optional = true }

# local deps
fork-tree = { path = "../../fork-tree", default-features = false }
itc-parentchain-light-client = { path = "../../../core/parentchain/light-client", default-features = false }
itp-extrinsics-factory = { path = "../../../core-primitives/extrinsics-factory", default-features = false }
itp-import-queue = { path = "../../../core-primitives/import-queue", default-features = false }
itp-node-api-metadata = { path = "../../../core-primitives/node-api/metadata", default-features = false }
itp-node-api-metadata-provider = { path = "../../../core-primitives/node-api/metadata-provider", default-features = false }
itp-ocall-api = { path = "../../../core-primitives/ocall-api", default-features = false }
itp-settings = { path = "../../../core-primitives/settings" }
itp-sgx-crypto = { path = "../../../core-primitives/sgx/crypto", default-features = false }
itp-types = { path = "../../../core-primitives/types", default-features = false }
its-block-verification = { path = "../../block-verification", optional = true, default-features = false }
its-primitives = { path = "../../primitives", default-features = false }
its-state = { path = "../../state", default-features = false }

# sgx deps
sgx_tstd = { optional = true, git = "https://github.com/apache/teaclave-sgx-sdk.git", branch = "master" }
sgx_types = { git = "https://github.com/apache/teaclave-sgx-sdk.git", branch = "master" }
thiserror-sgx = { package = "thiserror", optional = true, git = "https://github.com/mesalock-linux/thiserror-sgx", tag = "sgx_1.1.3" }

# substrate deps
sp-runtime = { default-features = false, git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.42" }

[dev-dependencies]
# local
itc-parentchain-test = { path = "../../../core/parentchain/test" }
itp-sgx-externalities = { default-features = false, path = "../../../core-primitives/substrate-sgx/externalities" }
itp-test = { path = "../../../core-primitives/test" }
its-test = { path = "../../test" }

# substrate
sp-core = { default-features = false, features = ["full_crypto"], git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.42" }

[features]
default = ["std"]
std = [
    "codec/std",
    "log/std",
    "thiserror",
    # local
    "itc-parentchain-light-client/std",
    "itp-import-queue/std",
    "itp-extrinsics-factory/std",
    "itp-node-api-metadata/std",
    "itp-node-api-metadata-provider/std",
    "itp-ocall-api/std",
    "itp-sgx-crypto/std",
    "itp-sgx-externalities/std",
    "itp-types/std",
    "its-primitives/std",
    "its-block-verification/std",
    "its-state/std",
    "fork-tree/std",
    # substrate
    "sp-runtime/std",
    # scs
    "itp-types/std",
]
sgx = [
    "sgx_tstd",
    "thiserror-sgx",
    # local
    "itc-parentchain-light-client/sgx",
    "itp-import-queue/sgx",
    "itp-extrinsics-factory/sgx",
    "itp-node-api-metadata-provider/sgx",
    "itp-sgx-crypto/sgx",
    "itp-sgx-externalities/sgx",
    "its-state/sgx",
    "fork-tree/sgx",
    # scs
    "its-block-verification/sgx",
]
