[package]
name = "itp-nonce-cache"
version = "0.8.0"
authors = ["Integritee AG <hello@integritee.network>"]
edition = "2021"

[dependencies]
# sgx dependencies
sgx_tstd = { branch = "master", git = "https://github.com/apache/teaclave-sgx-sdk.git", optional = true }

# local dependencies
its-primitives = { default-features = false, path = "../primitives" }
# sgx enabled external libraries
thiserror_sgx = { package = "thiserror", git = "https://github.com/mesalock-linux/thiserror-sgx", tag = "sgx_1.1.3", optional = true }

# std compatible external libraries (make sure these versions match with the sgx-enabled ones above)
thiserror = { version = "1.0", optional = true }

[features]
default = ["std"]
std = [
    "thiserror",
    "its-primitives/std"
]
sgx = [
    "sgx_tstd",
    "thiserror_sgx",
]
