[package]
name = "itc-tls-websocket-server"
version = "0.9.0"
authors = ["Integritee AG <hello@integritee.network>"]
edition = "2021"

[dependencies]
bit-vec = { version = "0.6", default-features = false }
chrono = { version = "0.4.19", default-features = false, features = ["alloc"] }
rcgen = { package = "rcgen", default-features = false, git = "https://github.com/integritee-network/rcgen" }

# sgx dependencies
sgx_tstd = { optional = true, features = ["net", "thread"], git = "https://github.com/apache/teaclave-sgx-sdk.git", branch = "master" }
sgx_types = { optional = true, git = "https://github.com/apache/teaclave-sgx-sdk.git", branch = "master" }
# Todo: should not be needed here: #848
sgx_crypto_helper = { default-features = false, optional = true, features = ["mesalock_sgx"], version = "1.1.6", git = "https://github.com/apache/teaclave-sgx-sdk.git", branch = "master" }

# sgx enabled external libraries
mio-extras = { optional = true, default-features = false, git = "https://github.com/integritee-network/mio-extras-sgx", rev = "963234b" }
mio_sgx = { package = "mio", optional = true, git = "https://github.com/mesalock-linux/mio-sgx", tag = "sgx_1.1.3" }
rustls_sgx = { package = "rustls", optional = true, git = "https://github.com/mesalock-linux/rustls", branch = "mesalock_sgx" }
thiserror_sgx = { package = "thiserror", optional = true, git = "https://github.com/mesalock-linux/thiserror-sgx", tag = "sgx_1.1.3" }
tungstenite_sgx = { package = "tungstenite", optional = true, features = ["rustls-tls-webpki-roots"], git = "https://github.com/integritee-network/tungstenite-rs-sgx", branch = "sgx-experimental" }
webpki_sgx = { package = "webpki", optional = true, git = "https://github.com/mesalock-linux/webpki", branch = "mesalock_sgx" }
yasna_sgx = { package = "yasna", optional = true, default-features = false, features = ["bit-vec", "num-bigint", "chrono", "mesalock_sgx"], git = "https://github.com/mesalock-linux/yasna.rs-sgx", rev = "sgx_1.1.3" }

# std compatible external libraries (make sure these versions match with the sgx-enabled ones above)
mio = { version = "0.6.14", optional = true }
rustls = { version = "0.19", optional = true }
thiserror = { version = "1.0", optional = true }
tungstenite = { version = "0.15.0", optional = true, features = ["rustls-tls-webpki-roots"] }
webpki = { version = "0.21", optional = true }
yasna = { version = "0.4", optional = true, features = ["bit-vec", "num-bigint", "chrono", "std"] }

# Substrate dependencies
sp-core = { default-features = false, features = ["full_crypto"], git = "https://github.com/paritytech/substrate.git", branch = "polkadot-v0.9.42" }

# no-std compatible libraries
log = { version = "0.4", default-features = false }

[dev-dependencies]
env_logger = "0.9.0"
rustls = { version = "0.19", features = ["dangerous_configuration"] }
url = { version = "2.0.0" }


[features]
default = ["std"]
sgx = [
    "mio-extras/sgx",
    "mio_sgx",
    "rcgen/sgx",
    "rcgen/pem_sgx",
    "rustls_sgx",
    "sgx_tstd",
    "sgx_types",
    "sgx_crypto_helper",
    "thiserror_sgx",
    "tungstenite_sgx",
    "webpki_sgx",
    "yasna_sgx",
]
std = [
    "mio",
    "mio-extras/std",
    "rcgen/std",
    "rcgen/pem",
    "rustls",
    "thiserror",
    "tungstenite",
    "webpki",
    "yasna",
    "log/std",
]
mocks = []
