[package]
name = "itp-stf-interface"
version = "0.8.0"
authors = ["Integritee AG <hello@integritee.network>"]
edition = "2021"

[dependencies]
codec = { version = "3.0.0", default-features = false, features = ["derive"], package = "parity-scale-codec" }

itp-node-api-metadata = { path = "../node-api/metadata", default-features = false, features = ["mocks"] }
itp-node-api-metadata-provider = { path = "../node-api/metadata-provider", default-features = false }
itp-stf-primitives = { path = "../stf-primitives", default-features = false }
itp-types = { default-features = false, path = "../types" }
log = { version = "0.4", default-features = false }

[features]
default = ["std"]
std = [
    "itp-node-api-metadata/std",
    "itp-node-api-metadata-provider/std",
    "itp-stf-primitives/std",
    "itp-types/std",
    "log/std",
]
mocks = []
